<div>
    <section class="about-section section-menu">
        <div class="menus-inner">
            <div class="menu-item-container offerrings-inner">
                <!-- LARGE MENU ITEM -->
                <div class="menu-item-large">
                    <div class="section-title-container">
                        <span class="section-title">GOURMET <i class="menu-title">SAUSAGES</i>
                            <span class="title-elem"></span>
                        </span>
                    </div>
                    <p class="menu-item-description">
                        Served on a fresh baked roll, with your choice of a sauce & two toppings. All sausages can be ordered protein style (without bread).
                    </p>
                    <div class="offerring-item-description">
                        <ul class="leaders">
                            <li>
                                <span>Alligator</span>
                                <span>11</span>
                                <p class="menu-item-desc">(alligator, pork)</p>
                            </li>
                            <li>
                                <span>Lamb</span>
                                <span>11</span>
                                <p class="menu-item-desc">(lamb, beef)</p>
                            </li>
                            <li>
                                <span>Duck</span>
                                <span>10</span>
                                <p class="menu-item-desc">(duck, pork)</p>
                            </li>
                            <li>
                                <span>Polish Kolbasa</span>
                                <span>10</span>
                                <p class="menu-item-desc">(pork, beef)</p>
                            </li>
                            <li>
                                <span>Cheddarwurst</span>
                                <span>10</span>
                                <p class="menu-item-desc">(pork, beef, Cheddar cheese, jalapeños)</p>
                            </li>
                            <li>
                                <span>Chicken Bratwurst</span>
                                <span>10</span>
                                <p class="menu-item-desc">(chicken, pork)</p>
                            </li>
                            <li>
                                <span>Hungarian Kolbasa</span>
                                <span>10</span>
                                <p class="menu-item-desc">(beef, pork)</p>
                            </li>
                            <li>
                                <span>Krainer</span>
                                <span>10</span>
                                <p class="menu-item-desc">(beef, pork, 25% french cheese)</p>
                            </li>
                            <li>
                                <span>Andouille</span>
                                <span>10</span>
                                <p class="menu-item-desc">(beef, spicy pork)</p>
                            </li>
                            <li>
                                <span>Vegan Chipotle</span>
                                <span>10</span>
                                <p class="menu-item-desc">(mediterranean spices)</p>
                            </li>
                            <li>
                                <span>Vegan Apple Sage</span>
                                <span>10</span>
                                <p class="menu-item-desc">(apples, sage, potatoes)</p>
                            </li>
                            <li>
                                <span>Spicy Italian</span>
                                <span>10</span>
                                <p class="menu-item-desc">(pork, Italian spices, fennel)</p>
                            </li>
                            <li>
                                <span>The Early Bird Sausage</span>
                                <span>10</span>
                                <p class="menu-item-desc">(Krainer sausage, caramelized onion, fried egg and a side of spicy ketchup)</p>
                            </li>
                            <li>
                                <span>District Sausage Platter</span>
                                <span>10</span>
                                <p class="menu-item-desc">(choose any 3 sausages including 3 items from the topping /sauce menu, no bun or cheese included )</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- LARGE MENU ITEM -->
                <!-- LARGE MENU ITEM -->
                <div class="menu-item-large">
                    <div class="section-title-container">
                        <span class="section-title">
                                       <i>GOURMET</i><i class="menu-title">Burgers</i>
                                       <span class="title-elem"></span>
                        </span>
                    </div>
                    <p class="menu-item-description">
                        All burgers are served on a fresh Brioche Bun. All burgers can be ordered protein style (without bread).
                    </p>
                    <div class="offerring-item-description">
                        <ul class="leaders">
                            <li>
                                <span> All American Burger CYO</span>
                                <span>12</span>
                                <p class="menu-item-desc">(creekstone angus beef, choice of any 2 toppings)</p>
                            </li>
                            <li>
                                <span>District Burger</span>
                                <span>13</span>
                                <p class="menu-item-desc">(creekstone angus beef, caramelized onion & cherry tomato thyme jam, arugula, fontina cheese)</p>
                            </li>
                            <li>
                                <span>Aioli Burger</span>
                                <span>13</span>
                                <p class="menu-item-desc">(cheddar cheese, arugula, tomato, red onion & garlic aioli)</p>
                            </li>
                            <li>
                                <span>The Early Bird Burger</span>
                                <span>14</span>
                                <p class="menu-item-desc">( creekstone angus beef, arugula, caramelized onion, fontina cheese,fried egg and a side of spicy ketchup)</p>
                            </li>
                            <li>
                                <span>Red Line Burger</span>
                                <span>14</span>
                                <p class="menu-item-desc">(double cheddar, grilled onion, jalapeño, district special sauce)</p>
                            </li>
                            <li>
                                <span>Pub-a-Que</span>
                                <span>14</span>
                                <p class="menu-item-desc">(creekstone angus beef, cheddar and fontina cheese, bacon,caramelized onions, cole slaw, and bbq sauce)</p>
                            </li>
                            <li>
                                <span>The Big Boy</span>
                                <span>15</span>
                                <p class="menu-item-desc">(creekstone angus beef, andouille sausage, cheddar cheese)</p>
                            </li>
                            <li>
                                <span>Chicken Sandwich</span>
                                <span>13</span>
                                <p class="menu-item-desc">(spicy rubbed chic ken breast, tomatillo habanero sauce, cheddar cheese, arugula )</p>
                            </li>
                            <li>
                                <span>Vegan Burger</span>
                                <span>13</span>
                                <p class="menu-item-desc">(red bell peppers, eggplant, potato, shallot, bulgur, pumpkin seeds, lentil, chili powder, cayenne pepper, paprika, cumin)</p>
                            </li>
                            <li>
                                <span>Breakfast Sandwich</span>
                                <span>8</span>
                                <p class="menu-item-desc">(brioche bun, 2 fried eggs, cheddar cheese, bacon, mayonnaise)</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- LARGE MENU ITEM -->
                <!-- TWO MENU COLUMNS -->
                <div class="menu-items-two-column-continaer">
                    <div class="menu-items-two-colum">
                        <div class="section-title-container">
                            <span class="section-title">
                                        <i>Sauce</i><i class="menu-title">Toppings</i>
                                    <span class="title-elem"></span>
                            </span>
                        </div>
                        <p class="menu-item-description">
                            Create Your Own (add topping $0.75 each)
                        </p>
                        <ul class="leaders">
                            <li>
                                <span>Thyme Jam <i> (Caramelized Onion & Cherry Tomato)</i></span>
                            </li>
                            <li>
                                <span>One whole Grilled Jalapeno Pepper</span>
                            </li>
                            <li>
                                <span>Caramelized Onions</span>
                            </li>
                            <li>
                                <span>Sauerkraut</span>
                            </li>
                            <li>
                                <span>Grilled Red/green Bell Peppers</span>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-items-two-colum">
                        <div class="section-title-container">
                            <span class="section-title">
                                        Burger <i class="menu-title">Toppings</i>
                                    <span class="title-elem"></span>
                            </span>
                        </div>
                        <p class="menu-item-description">
                            Create Your Own (add topping $0.75 each)
                        </p>
                        <ul class="leaders">
                            <li>
                                <span>Thyme Jam <i> (Caramelized Onion & Cherry Tomato)</i></span>
                            </li>
                            <li>
                                <span>Blue Cheese</span>
                            </li>
                            <li>
                                <span>Mild Cheddar Cheese</span>
                            </li>
                            <li>
                                <span>Feta Cheese.</span>
                            </li>
                            <li>
                                <span>Fontina Cheese.</span>
                            </li>
                            <li>
                                <span>Extra Patty Additional $6.00</span>
                            </li>
                            <li>
                                <span>Arugula.</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- TWO MENU COLUMNS -->

                <div class="menu-spacer"></div>
            </div>
        </div>
    </section>
    <div class="menu-spacer"></div>
</div>