<!-- Gallery  -->

<!-- <section class="about-section">
    <div class="section-title-container">
        <span class="section-title">Gallery<span class="title-elem"></span></span> 
    </div>
    <div class="galleries-inner">
        <div class="gallery-item">
            <img src="../../../static/images/Gallery/1.jpg">
            <div class="bg-overlay"></div>
        </div>
        <div class="gallery-item">
            <img src="../../../static/images/Gallery/2.jpg">
            <div class="bg-overlay"></div>
        </div>

        <div class="gallery-item">
            <img src="../../../static/images/Gallery/3.jpg">
            <div class="bg-overlay"></div>
        </div>
        <div class="gallery-item">
            <img src="../../../static/images/Gallery/4.jpg">
            <div class="bg-overlay"></div>
        </div>

        <div class="gallery-item">
            <img src="../../../static/images/Gallery/5.jpg">
            <div class="bg-overlay"></div>
        </div>
        <div class="gallery-item">
            <img src="../../../static/images/Gallery/6.jpg">
            <div class="bg-overlay"></div>

        </div>
        <div class="gallery-item">
            <img src="../../../static/images/Gallery/7.jpg">
            <div class="bg-overlay"></div>
        </div>
        <div class="gallery-item">
            <img src="../../../static/images/Gallery/8.jpg">
            <div class="bg-overlay"></div>
        </div>

        <div class="gallery-item">
            <img src="../../../static/images/Gallery/9.jpg">
            <div class="bg-overlay"></div>
        </div>
    </div>
</section> -->