/* Custom checkbox */
 
input[type="checkbox"],input[type="radio"] {
    display:none;
}

input[type="checkbox"] + label {
    font-size: 14px;
    color: #4e342e;
    cursor: pointer;
    padding-top: 6px;
    display: inline-block
}

input[type="checkbox"] + label span {
    @extend .sprite;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 2px 0 0;
    vertical-align: middle;
    background-position:-200px -149px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    @extend .sprite;
    background-position:-200px -173px;
}

 

input[type="radio"] + label {
    font-size: 14px;
    color: #4e342e;
    cursor: pointer;
    padding-top: 6px;
    display: inline-block
}

input[type="radio"] + label span {
    @extend .sprite;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 2px 0 0;
    vertical-align: middle;
    background-position:-231px -149px;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
    @extend .sprite;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 2px 0 0;
    vertical-align: middle;
    background-position:-231px -173px;
    cursor: pointer;
}