/* -----------------------
Navigation
------------------------*/

.header {
    z-index: 2000;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 40px solid white;
    border-bottom: none;
    position: fixed;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.callus-ico {
    @extend .sprite;
    display: inline-block;
    display: none;
    width: 32px;
    height: 30px;
    background-position: -238px -128px;
}

.social2 {
    padding: 0
}

.call-us-block {
    @extend .main-font;
    padding-top: 55px;
    -webkit-transition: padding-top 0.2s;
    transition: padding-top 0.2s;
}

.tel-caption {
    color: $color1;
    font-size: 26px;
    line-height: 24px;
}

.logo-link img {
    width: 280px;
    height: 81px;
    margin-top: 11px;
}

.logo-patters {
    @extend .sprite;
    width: 471px;
    height: 43px;
    background-position: 0 -5px;
    position: absolute;
}

.scrolled-header {
    .nav-bar {
        height: 90px;
    }
    .logo {
        opacity: 0;
    }
    .header--row__buttom {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
        /*   -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s */
    }
    .call-us-block {
        padding-top: 29px;
    }
}

.menu-line-break {
    display: none
}

.callButton {
    color: white;
    font-size: 26px;
    padding-top: 8px;
    display: inline-block;
    position: relative;
    z-index: 10;
    @extend .main-font;
}

.call-us-btn {
    @extend .sprite;
    display: none;
    font-size: 26px;
    background-position: -190px -182px;
    width: 21px;
    height: 21px;
}

.header-middle,
.header--row__buttom {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out
}

.nav-bar {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #4e342e;
}

.animated.flipInX {
    opacity: 1
}

.nav.fadeInDown,
.menu-item.zoomIn,
.menu-item.flipInX {
    opacity: 1
}

.reservation--block {
    padding-top: 38px;
    width: 250px;
    text-align: right;
}

.reservation-ico {
    @extend .sprite;
    display: inline-block;
    width: 28px;
    height: 30px;
    background-position: -117px -132px;
}

.reservation-btn {
    color: $color1;
    font-size: 14px;
    line-height: 23px;
    padding-left: 3px;
}

.header-middle {
    padding-top: 53px;
    position: relative;
    width: 471px;
}

.nav {
    /*opacity: 0;*/
    margin: 0 auto;
    list-style: none;
    float: right;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* width: 1016px;*/
    li {
        display: inline;
        float: left;
        margin: 0;
        position: relative;
        cursor: pointer
    }
    li.dropdowned:hover {
        .dropdown-menu {
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity 0.3s linear 0.2s;
            transition: opacity 0.3s linear 0.2s;
        }
    }
    li:first-child a {
        padding-left: 0
    }
    li:last-child a {
        padding-right: 0
    }
    a {
        @extend .main-font3;
        opacity: 1;
        display: block;
        position: relative;
        font-size: 20px;
        color: $color1;
        padding: 10px 25px 0 0;
        cursor: pointer;
        &:hover {
            color: $color1;
        }
        &.active-menu {
            color: $color1;
            .menu-star {
                display: inline-block
            }
        }
    }
    .login-link,
    .signup-link {
        font-family: 'open_sans_bold';
    }
    .menu-star {
        @extend .sprite;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-position: -1px -275px;
        margin-top: 4px;
        display: none
    }
    .menu-link {
        width: 114px;
        height: 36px;
        border: 2px solid #999;
        border-radius: 18px;
        text-align: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 8px 0 0 0;
        font-size: 16px;
        color: white;
        &:hover {
            background-color: #559f22;
            border-color: #559f22;
        }
    }
}

.router-link-active {
    span {}
}

#top-nav {
    padding-top: 28px;
    padding-left: 37px;
}

.login-link {
    padding-right: 0 !important
}

.signup-link {
    padding-left: 0 !important
}

.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.header-row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
    width: 1450px;
}

$color-background: #F5F5F5;
$color-main: rgba(104, 156, 212, 0.8);
$color-active: #fff;
$color-link: #FFF;
$button-height: 27px;
$button-width: 22px;
.button_container {
    position: absolute;
    top: 41px;
    left: 20px;
    height: 16px;
    width: 39px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    right: 20px;
    margin-left: auto;
    &.active {
        .top {
            -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
                    transform: translateY(10px) translateX(0) rotate(45deg);
            background: $color-active;
        }
        .middle {
            opacity: 0;
            background: $color-active;
        }
        .bottom {
            -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
                    transform: translateY(-10px) translateX(0) rotate(-45deg);
            background: $color-active;
        }
    }
    span {
        background: #4e342e;
        border: none;
        height: 4px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        -webkit-transition: all .35s ease;
        transition: all .35s ease;
        cursor: pointer;
        border-radius: 6px;
        &:nth-of-type(2) {
            top: 9px;
        }
        &:nth-of-type(3) {
            top: 18px;
        }
    }
}

.overlay-menu {
    .menu-star {
        @extend .sprite;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-position: -1px -275px;
        margin-top: 4px;
        display: none;
    }
}

.button_container.active {
    .bottom {
        top: 18px !important;
    }
    .top {
        top: -2px
    }
}

#toggleMobileMEnu {
    display: none;
    @extend .sprite;
    background-position: -215px -172px;
}

.active-menu {
    color: $color1 !important;
}

#toggleMobileMEnu.active {
    background-position: -145px -279px;
    position: fixed;
    height: 22px;
    width: 22px;
    top: 30px;
    right: 30px;
}

.button_container.active {
    span {
        display: none
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    background: #4e342e;
    z-index: 50;
    min-height: 660px;
    border: 15px solid white;
    &.open {
        .overlay-menu {
            display: block
        }
        opacity: 1;
        visibility: visible;
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        li {
            -webkit-animation: none;
                    animation: none;
            /*     animation: fadeInRight .5s ease forwards;
            animation-delay: .15s;
            &:nth-of-type(2) {
                animation-delay: .25s;
            }
            &:nth-of-type(3) {
                animation-delay: .35s;
            }
            &:nth-of-type(4) {
                animation-delay: .45s;
            }
            &:nth-of-type(5) {
                animation-delay: .55s;
            }
            &:nth-of-type(6) {
                animation-delay: .65s;
            }
            &:nth-of-type(7) {
                animation-delay: .75s;
            }
            &:nth-of-type(8) {
                animation-delay: .85s;
            } */
        }
    }
    nav {
        position: relative;
        height: 0;
        top: 85px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center;
        z-index: 100;
        display: none;
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%;
            li {
                display: block;
                min-height: 63px;
                position: relative;
                a {
                    position: relative;
                    color: #f2e7e1;
                    font-size: 22px;
                    text-decoration: none;
                    overflow: hidden;
                    line-height: 20px;
                    font-family: 'OpenSans-Regular', sans-serif;
                }
                a.router-link-active {
                    border-bottom: 1px solid #f2e7e1;
                }
                .active-link {
                    color: $color1;
                    span {
                        display: inline-block
                    }
                    span:first-child {
                        margin-right: 10px
                    }
                    span:last-child {
                        margin-left: 10px
                    }
                }
            }
        }
    }
}

.plus {
    display: inline-block
}

.minus {
    display: none
}

.active-menu-item {
    .minus {
        display: inline-block
    }
    .plus {
        display: none
    }
    .submenu-mobile {
        display: block !important;
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            font-size: 17px;
        }
        li {
            min-height: 30px;
            -webkit-animation: initial;
                    animation: initial;
            opacity: 1
        }
    }
}

//////////////////////////////
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@media only screen and (max-width: 1400px) {
    #top-nav {
        padding-top: 17px
    }
}

@media only screen and (max-width: 1070px) {
    .scrolled-header {
        .callButton,
        .reservation-btn {
            display: none
        }
    }
}

@media only screen and (max-width: 940px) {
    .logo-link img {
        width: 230px
    }
    .nav a {
        font-size: 18px;
    }
    .header-middle {
        width: 313px;
    }
    .logo-patters {
        width: 313px;
        height: 32px;
        background-position: 0px -81px;
    }
    .logo {
        width: 100px;
        height: 93px;
        background-position: -128px -233px;
        top: 22px;
        left: 105px;
    }
}

@media only screen and (max-width: 850px) {
    #top-nav {
        display: none
    }
    #toggleMobileMEnu {
        display: block;
    }
}

@media only screen and (max-width: 780px) {
    .button_container {
        top: 20px
    }
    .nav-bar {
        height: 60px
    }
    .logo-link img {
        width: 160px;
        margin-top: 0;
        height: 65px;
    }
    .form-place p {
        line-height: 34px;
        font-size: 20px
    }
    .container2 {
        width: 772px;
    }
    .header--row__buttom {
        display: none
    }
    .reservation-btn {
        display: none
    }
    .reservation--block {
        padding-top: 23px
    }
    .reservation-ico {
        background-position: -153px -132px
    }
    .main-container {
        margin-top: 20px !important
    }
    .map-place {
        margin-left: 38px;
    }
}

@media only screen and (max-width: 480px) {
    .overlay {
        height: 100%
    }
    .call-us-block {
        padding-top: 22px !important;
    }
    .button_container {
        top: 29px
    }
    .nav-bar {
        height: 80px;
    }
    .header-middle {
        width: 163px;
        padding-top: 29px;
        overflow: hidden;
        height: 73px;
    }
    .logo-patters {
        width: 313px;
        height: 22px;
        background-position: 0px -55px;
    }
    .logo {
        width: 65px;
        height: 60px;
        background-position: -242px -249px;
        top: 9px;
        left: 49px;
    }
}