html,
body {
  @extend .main-font;
}

html {
  background-color: #fff;
}

.footer-bg {
  width: 100%;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -icab-transition: all 0.3s ease-in-out
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

i {
  font-style: normal
}

section {
  clear: both;
  width: 100%
}

.container2 {
  width: 1920px;
  margin: 0 auto
}

.scroller-section {
  padding-top: 84px;
  padding-bottom: 95px;
  .decor-container {
    margin: 0 auto;
    width: 136px;
    text-align: center;
    p {
      @extend .main-font;
      font-size: 16px;
      color: $color5;
      padding-top: 16px;
    }
  }
  .scroller-decor {
    @extend .sprite;
    width: 18px;
    height: 29px;
    background-position: -90px -131px;
    margin: 0 auto
  }
}

.flex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clearfix {
  width: 100%;
  clear: both;
}

.elem-spacer {
  clear: both;
  width: 100%;
}

.main-inner {
  z-index: 10;
  width: 1440px;
  margin: 0 auto;
  position: relative;
  section {
    clear: both;
    position: relative;
  }
}

.sprite {
  background-image: url('../images/sprite.svg');
  background-size: 471px 343px;
  background-repeat: no-repeat
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative
}

.main-container {
  margin-top: 91px;
  border: 40px solid white;
  border-top: 0;
}

.owl-prev {
  // @extend .sprite;
  // background-position: 0px -139px;
  // margin-left: 30px;
}

.owl-next {
  // @extend .sprite;
  // background-position: -41px -139px;  
}

.owl-next,
.owl-prev {
  width: 40px;
  height: 40px;
  text-indent: -9000px;
  cursor: pointer;
}

#customNav {
  clear: both;
  float: right;
  top: 485px;
}

.owl-carousel {
  width: 50%;
  z-index: 1;
  float: left;
  height: 100%;
  height: 680px;
  overflow: hidden
}

.owl-prev.disabled {
  background-position: 0px -140px;
}

.slider--decor--elem {
  border: 6px solid $color1;
  border-bottom: none;
  width: 886px;
  height: 535px;
  position: absolute;
  left: -30px;
  top: 30px;
  display: none;
  .dots-elem-left,
  .dots-elem-right {
    position: absolute;
    bottom: 0;
    width: 346px;
    z-index: 2;
    background: $color1;
    height: 6px;
  }
  .dots-elem-left {
    left: 0;
  }
  .dots-elem-right {
    right: 0;
  }
}

#customDots {
  .owl-dot {
    width: 6px;
    height: 6px;
    background-color: $color3;
    margin-right: 14px;
    cursor: pointer
  }
  .owl-dot.active {
    background-color: $color1;
  }
  .owl-dot:last-child {
    margin-right: 0
  }
}

.dots-elem {
  position: absolute;
  width: 200px;
  bottom: -31px;
  height: 6px;
  left: 50%;
  margin-left: -100px;
  background: transparent;
  z-index: 1000;
}

.slider-text-info-place {
  padding-top: 122px;
  padding-left: 97px;
}

.slider-text-info-place {
  span {
    font-family: "OpenSans-ExtraBold";
    font-size: 100px;
    color: $color1;
    opacity: 0;
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    display: block
  }
  p {
    font-size: 21px;
    color: $color1;
    line-height: 39px;
    font-family: 'OpenSans-Regular';
    padding-top: 21px;
    padding-right: 30px;
    opacity: 0;
    -webkit-transform: translate(20px, 20px);
    transform: translate(20px, 20px); 
  }
  .btn {
    opacity: 0;
    -webkit-transition: none;
    transition: none
  }
}

.owl-item.active {
  .slider-text-info-place {
    span {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
      -webkit-transition: opacity 1s ease-in-out 0.6s, -webkit-transform 0.6s ease-in-out 0.4s;
      transition: opacity 1s ease-in-out 0.6s, -webkit-transform 0.6s ease-in-out 0.4s;
      transition: opacity 1s ease-in-out 0.6s, transform 0.6s ease-in-out 0.4s;
      transition: opacity 1s ease-in-out 0.6s, transform 0.6s ease-in-out 0.4s, -webkit-transform 0.6s ease-in-out 0.4s
    }
    p {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
      -webkit-transition: opacity 1.4s ease-in-out 0.6s, -webkit-transform 0.6s ease-in-out 0.4s;
      transition: opacity 1.4s ease-in-out 0.6s, -webkit-transform 0.6s ease-in-out 0.4s;
      transition: opacity 1.4s ease-in-out 0.6s, transform 0.6s ease-in-out 0.4s;
      transition: opacity 1.4s ease-in-out 0.6s, transform 0.6s ease-in-out 0.4s, -webkit-transform 0.6s ease-in-out 0.4s
    }
    .btn {
      opacity: 1;
      -webkit-transition: opacity 0.2s ease-in-out 1s;
      transition: opacity 0.2s ease-in-out 1s
    }
  }
}

.container-inner {
  padding: 0 40px;
}

.main-area-section {
  background-color: $color4;
}

.btn-mobile-booking {
  display: none;
  clear: both
}

.slide-text-part2 {
  clear: both;
  display: block;
  margin-left: 126px;
}

.slides-info-place {
  float: right;
  top: 20px;
  .slide-caption {
    font-size: 20px;
    color: $color3
  }
}

.main-banner {
  background-size: cover;
  background-position: center;
  height: 680px
}

.banner-medium {
  display: none
}

#slider1 {
  .home-slider .owl-item .item {
    display: block
  }
}

.filter-spacer {
  height: 200px;
  display: none
}

.confirmation-step {
  background-color: #f5f0ed;
  width: 100%;
  height: 100%;
  min-height: 427px;
  margin-bottom: 40px;
  padding: 23px 20px;
  p {
    float: left;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    font-family: 'open_sanssemibold';
    margin-top: 15px;
    clear: both;
  }
}

.graphical-elements-2 {
  width: 100%;
  height: 10px;
  clear: both;
  padding: 10px 0;
  span {
    width: 40%;
    border-top: 1px solid #4e342e;
    display: inline-block;
  }
  span:first-child {
    float: left;
  }
  span:last-child {
    float: right;
  }
}

.confirmation-list-items {
  text-align: left;
  font-size: 18px;
  font-family: 'open_sanssemibold';
  line-height: 27px;
  margin-top: 50px;
  float: left;
  margin-bottom: 11px;
  span {
    border: none;
    font-size: 16px;
    font-family: 'OpenSans-Light';
    color: #4e342e;
    padding-left: 5px;
    display: inline-block;
  }
}

.confirmation-btns {
  clear: both;
  float: right;
  a:first-child {
    color: #4e342e;
    background-color: #f5f0ed;
    margin-right: 5px;
  }
}

.dashik {
  line-height: 17px;
  margin-left: 4px;
  margin-right: 3px;
}

.reserve-btn {
  clear: both;
  float: left;
}

.slide-info-container {
  float: left;
  margin-left: 810px;
  position: relative;
  z-index: 5;
  padding-top: 24px;
  h2 {
    @extend .main-font2;
    color: $color1;
    text-shadow: 2px 3.5px 0 rgba(0, 0, 0, 0.6);
    font-size: 42px;
    text-transform: uppercase;
    line-height: 54px;
    i {
      font-style: normal;
      font-size: 66px;
      font-style: inherit;
      text-transform: uppercase;
      line-height: 63px;
    }
    & i:last-of-type {
      font-size: 56px;
    }
  }
  p {
    color: $color3;
    font-size: 24px;
    line-height: 30px;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.6);
    padding-top: 26px;
    padding-bottom: 35px;
    width: 585px;
  }
}

.slider-item-tablet {
  display: none
}

.section-title-container {
  width: 100%;
  text-align: center;
}

.toast-container,
.toast-container> :hover,
.toast-container>div {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  opacity: 1 !important;
}

.section-title.workers-title {
  padding-bottom: 71px
}

.section-title {
  font-family: 'OpenSans-Light';
  color: #4e342e;
  font-size: 52px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 181px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  span {
    height: 1px;
    background: #b69584;
    width: 360px;
    margin-top: 35px;
    position: absolute;
  }
}

.type-p {
  @extend .main-font;
  color: #999999;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  max-width: 970px;
  margin: 0 auto;
  width: 100%;
}

.about-section {
  padding-top: 46px;
  padding-bottom: 36px;
}

.address-info {
  color: $color1;
  text-align: center;
  font-size: 22px;
  padding: 28px 0 10px;
}

.title-elem {
  height: 4px;
  background: #b69584;
  display: block;
}

.copyright__3 {
  color: #808080;
  font-size: 12px;
}

#mobile-menu #menu-switcher2 {
  display: none !important
}

#menu-switcher1 {
  padding-left: 40px
}

footer {
  p,
  .copyright__2>span {
    @extend .main-font;
    color: #808080;
    font-size: 16px;
    display: inline-block;
  }
  a {
    color: $color1;
    margin-left: 5px;
    display: inline-block;
  }
}

.slider-item-medium,
.slider-item-small,
.slider-item-xsmall {
  display: none
}

.owl-item .item {
  width: 100%
}

.slider-bg {
  position: absolute;
  top: 280px;
  overflow: hidden;
  width: 100%;
}

.home-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  position: relative;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.home-slider {
  .owl-item .item {
    background-size: cover;
    background-position: center;
  }
}

.is-visible {
  .home-slider-container {
    opacity: 1;
  }
  .main-section-area {
    opacity: 1;
    visibility: visible
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.no-scroll {
  overflow-y: hidden;
}

.home-slider-nav-container {
  position: absolute;
  width: 140px;
  left: 50%;
  margin-left: -70px;
  background: white;
  top: 270px;
  z-index: 10;
  height: 140px;
  border-radius: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .home-slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-position: 0 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: -11px;
    div {
      background: url(../images/homr-slider-nav.png) no-repeat;
      width: 18px;
      height: 21px;
    }
    .owl-prev {
      margin-right: 30px;
    }
    background-position: 0 0px;
  }
  .owl-next {
    background-position: -49px 0px!important;
  }
}

.filters-window {
  width: 1026px;
  margin-left: -513px;
  height: 100%;
  margin-top: 20px;
  top: 0;
  padding-bottom: 50px;
  height: auto !important;
  padding-left: 30px;
  padding-right: 30px;
}

.search-results-left {
  img {
    width: 200px;
    height: 200px;
    border-radius: 5px
  }
}

.activation-page {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  a.logo-link {
    margin: 0 auto;
    img {
      width: 280px !important
    }
  }
}

.activation-content {
  width: 90%;
  margin: 100px auto;
  line-height: 26px;
  h1 {
    font-family: "OpenSans-ExtraBold";
    font-size: 48px;
    color: #4e342e;
    line-height: 48px;
  }
  h3 {
    margin-top: 40px;
    font-family: 'open_sans_bold';
    color: #4e342e;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 24px
  }
  p {
    font-size: 17px;
    color: #4e342e;
    line-height: 30px;
    font-family: 'OpenSans-Regular';
    a {
      text-decoration: underline;
      color: #4e342e;
    }
  }
}

.v-select .selected-tag {
  padding: 2px .25em !important;
}

.v-select input[type=search],
.v-select input[type=search]:focus {
  padding-top: 3px !important
}

.filter-by-employees {
  .filter2 {
    -webkit-box-ordinal-group: 4!important;
    -ms-flex-order: 3!important;
    order: 3!important
  }
  .filter3 {
    -webkit-box-ordinal-group: 3!important;
    -ms-flex-order: 2!important;
    order: 2!important
  }
}

span.no-filter-results {
  font-size: 14px;
  display: inline !important;
  line-height: 79px;
}

.v-select .dropdown-toggle {
  border: 1px solid #4e342e !important;
}

.v-select .open-indicator:before {
  border-color: #4e342e !important;
}

.v-select .dropdown-menu>.highlight>a {
  background: #4e342e !important;
  color: #fff
}

.flatpickr-current-month span.cur-month {
  font-weight: 400;
  padding-top: 4px;
}

.filters-inner {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  padding-top: 30px;
  float: left;
  /*  >.filter1 {
        width:115px;
        margin-right:20px; 
    } */
  >.filter2 {
    width: 354px;
    margin-right: 20px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
  }
  >.filter3 {
    width: 300px;
    margin-right: 20px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
  }
  >.filter5 {
    width: 300px;
    margin-right: 20px;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5
  }
  >.filter4 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 118px;
    margin-right: 13px;
    input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      line-height: 1.42857143;
      font-size: 1em;
      height: 40px;
      display: inline-block;
      border: none;
      outline: none;
      padding: 2px 10px;
      background: none;
      border: 1px solid #4e342e;
      border-radius: 4px;
      width: 110px
    }
  }
  >div {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 61px;
  }
}

.filter-item {
  span {
    padding-bottom: 5px;
    display: inline-block;
    color: #4e342e;
    width: 100%;
    i {
      font-size: 12px;
      line-height: 17px;
      padding-left: 2px;
    }
  }
}

.customer-search-btn {
  font-size: 16px;
  text-transform: uppercase;
  padding: 1px 20px 0px;
  line-height: 37px;
  margin-top: 51px;
}

.availability-item {
  height: 24px;
  margin-right: 15px;
  margin-bottom: 7px;
}

.no-employees-warning-block {
  @extend .main-font;
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px;
}

.VueCarousel-dot-inner {
  border: 1px solid #4d342f !important;
}

.VueCarousel-dot--active .VueCarousel-dot-inner {
  background: #4d342f !important;
}

.VueCarousel-dot {
  padding-right: 0 !important;
}

.custom-tabs {
  padding-top: 33px;
  width: 494px;
  margin: 0 auto;
  .filter-tab.active-filter-tab {
    background-color: #4e342e;
    color: white;
  }
  .filter-tab {
    font-size: 16px;
    padding: 6px 15px 8px;
    line-height: 26px;
    border-radius: 0;
    color: #4e342e;
    border: 1px solid #4e342e;
    min-width: 244px;
    margin-right: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.home-slider {
  overflow: hidden;
  width: 100%;
  display: none;
}

.slider-right {
  position: absolute;
}

.searchResults {
  width: 100%;
  float: left;
  clear: both;
  padding-top: 40px;
  .graphical-elements {
    width: 100%;
    height: 40px;
    span {
      width: 40%;
      border-top: 1px solid #4e342e;
      display: inline-block;
    }
    span:first-child {
      float: left;
    }
    span:last-child {
      float: right;
    }
  }
}

.bookings-container {
  margin-top: 37px;
  .service-items-section {
    padding-bottom: 80px;
    padding-top: 127px;
  }
}

.slides-info-place__2 {
  display: none;
  position: absolute;
  top: 9px;
  right: 12px !important;
  z-index: 10;
  font-size: 14px;
}

.mCSB_dragger_bar {
  background-color: #808080 !important;
  width: 4px !important;
  border-radius: 0 !important;
}

[v-cloak] {
  display: none;
}

.search-results-left {
  float: left;
  .customer-search-btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.long-window {
  height: auto !important;
  .filter-spacer {
    display: block
  }
}

.employee-pricing {
  float: left;
}

.employee-proffession {
  float: left;
  width: 100%;
}

.workers-container-inner {
  .worker-item:last-child {
    padding-bottom: 67px
  }
}

.workers-with-pagination.workers-container-inner {
  .worker-item:last-child {
    padding-bottom: 0
  }
}

.filtered-date {
  padding-bottom: 10px;
}

.employee-details {
  float: right;
  margin-left: 25px;
  position: relative;
  height: 200px;
  max-width: 234px;
  .employee-proffession {
    font-family: "OpenSans-Regular";
    font-size: 20px;
    text-transform: uppercase;
    color: #84716b;
    padding-top: 9px;
    display: inline-block;
    padding-bottom: 19px;
    h4:first-child {
      padding-bottom: 33px;
    }
  }
  h4 {
    font-family: 'open_sanssemibold';
    color: #4e342e;
    font-size: 22px;
  }
}

.flatpickr-day.selected,
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  background: #4f352f !important;
  border-color: #4f352f !important;
}

.search-results-right {
  float: left;
  margin-left: 120px;
  * {
    font-family: 'open_sanssemibold';
    color: #4e342e;
  }
  h4 {
    font-size: 22px;
  }
  h3 {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.employees-title {
  padding-bottom: 50px !important
}

.zero-results {
  h4 {
    font-family: 'open_sanssemibold';
    float: left;
    color: #4e342e;
    font-size: 16px;
    padding-top: 14px;
  }
}

.employee-pricing {
  span {
    font-family: 'open_sanssemibold';
    color: #4e342e;
    font-size: 22px;
  }
  span {
    font-size: 22px;
  }
  span:first-child {
    margin-bottom: 9px;
  }
}

.availabilities {
  width: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bookings-title {
  padding-bottom: 120px;
  padding-top: 40px;
}

.dropdown-toggle.clearfix {
  height: 40px;
}

.main-container {
  position: absolute;
  top: 0;
  margin: 0
}

.reset-password-form {
  width: 400px;
  margin: 0 auto;
  .def-input {
    border: 1px solid #4d342f;
    margin-bottom: 5px;
  }
  label {
    text-align: left;
    font-size: 14px;
    width: 100%;
    float: left;
  }
  .btn { 
    margin-top: 26px;
    font-size: 18px; 
    padding: 3px 25px 3px;
    line-height: 34px
  }
}

.VueCarousel-slide { 
    -ms-flex-preferred-size: inherit;
        flex-basis: inherit;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.VueCarousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}