.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #4e342e;
    border-color: #4e342e;
  }
  
  .pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #4e342e;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    li:first-child, li:last-child {
      display: none
    }
  }