<div>
    <!-- CONTACTS  -->
    <section id="contacts" class="contact-section">
        <img :src="parallaxImgSrc"  v-parallax.absY="0.2" v-if="showParallax">
        <div class="contacts-inner"> 
            <div class="contact-left">
                <div class="section-title">
                    <h1>Salon Hours</h1>
                    <span class="diz-elem elem-left"></span>
                    <span class="diz-elem elem-right"></span>
                </div>
                <ul class="working-hours">
                    <li v-for="item in workingHours"> {{ item }} </li> 
                </ul> 
                <form v-on:submit.prevent="onSubmitSubscription" class="contact-form subscribe-form"   name="subscribe_form" @submit="$v.subscriptionEmail.$touch();">  
                    <input class="def-input" type="email" placeholder="Your Email" name="subscribe" v-model="subscriptionEmail" :class="{'has-error': $v.subscriptionEmail.$error}">
                    <input type="submit" class="btn-submit btn btn-transparent" value="Subsribe"> 
                </form>
            </div>
            <div class="contact-right">
                <div class="form-place">
                    <div class="section-title">
                        <h1>Get In Touch</h1>
                        <span class="diz-elem elem-left"></span>
                        <span class="diz-elem elem-right"></span>
                    </div>
                    <div class="form-container">
                        <form v-on:submit.prevent="onSubmit" class="contact-form" id="form-contact-us" name="contact_form" @submit="$v.contactEmail.$touch();$v.message.$touch();$v.subject.$touch()">
                            <div class="contact-form-referral ref1">
                                <div class="form-row">
                                    <div class="default-inp-row ">
                                        <input class="def-input" type="text" placeholder="Your name" name="contact_subject" v-model="subject" :class="{'has-error': $v.subject.$error}">
                                    </div>
                                    <div class="default-inp-row ">
                                        <input class="def-input" type="email" placeholder="Your email" name="contact_email" v-model="contactEmail" :class="{'has-error': $v.contactEmail.$error}">
                                    </div>
                                </div>
                                <div class="default-inp-row ">
                                    <textarea class="def-input" placeholder="Message" cols="30" rows="10" name="contact_message" v-model="message" :class="{'has-error': $v.message.$error}"></textarea>
                                </div>
                                <div class="default-inp-row row-btn">
                                    <input type="submit" class="btn-submit btn btn-transparent" value="Send">
                                </div>
                            </div> 
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </section> 
</div>